body {
  background-color: linen;
}

.property-image {
  cursor: pointer;
  position: relative;
  filter: brightness(0.75);
  transition: 1s ease;
}

.property-image:hover {
  transform: scale(1.1);
  filter: brightness(1);
}

.CANCELLED {
  background-color: rgb(126, 47, 47);
  padding: 2px 10px;
  color: #fff;
  font-size: 12px;
}

.OPEN {
  background-color: rgb(11, 90, 34);
  padding: 2px 10px;
  color: #fff;  
  font-size: 12px;
}